<ul>
    <li></li>
    <li><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></li>
    <li>表示名：　<% @item.name %></li>
    <li></li>
    <li></li>
    <li></li>
</ul>