
<h3 >ショッピングカート</h3>


<table class="table table-striped">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th colspan ="1" ></th>
    </tr>
  </thead>
  <tbody>
    <% @cart_item.each do |item| %>
    <tr>
      <th><%= item.name %></th>
      <th></th>
      <th></th>
    # <th><%= link_to '削除する', delete_item_path(item.id), method: :delete, class: 'btn btn-danger' %></th>
      <% end %>
      <th><%= link_to '買い物を続ける', 'items_path', class: 'btn btn-primary' %><th>
        <th><%= link_to '情報入力に進む', '#', class: 'btn btn-success test' %></th>
        <th colspan="1"></th>
        <th>合計金額</th>
      </tr>
    </tbody>

