<h4>ジャンル検索</h4>
  <% genres.each do |genre| %>
    <%= button_to genre.name, {controller: 'items', action: 'index'}, {method: :get, class: "btn btn-link", params: {genre_id: genre.id}} %>
  <% end %>
