/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


li {
	list-style-type: none;
	line-height: 30px;
}

/*ナビゲーションバー*/
header {
	height: 100px;
}

.navbar-inverse {
	background-color: #fffacd;
	border-color: #fafad2;
}

.total  {
	 margin: 15px 0;
}

.name {
	height: 50px;
}

.navbar-nav {
	 margin: 20px 20px;
}

.body {
	margin-top: 150px;
}

span {
	color: orange;
}

.main-visual {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  background: image-url("cake.jpg");
  background-size: cover;
  background-position: center;
}
.theTarget div {
	background: image-url("cake.jpg");
}
.theTarget div:nth-child(2) {
	background: image-url("candy.jpg");
}
.theTarget div:nth-child(3) {
	background: image-url("cooky.jpg");
}
.theTarget div:nth-child(4) {
	background: image-url("pudding.jpg");
}
.main-visual-text {
	width: 100%;
	height: 300px;
	color: lightyellow;
	background-color: rgba( 0, 0, 0, 0.2);
	font-size: 25px;
}

.item-picup {
	margin-top: 30px;
}

.genre_search {
	border: dotted 3px gold;
	padding: 10px;
}

/*管理者側の商品一覧画面*/
.rounded-circle {
	float: right;
}

/*購入完了画面*/
.thankyou-visual {
  width: 100%;
  height: 750px;
  background: image-url("thankyou.jpg");
  background-size: cover;
  background-position: top center;
}

.thankyou-text {
	width: 100%;
	font-size: 40px;
	text-align: center;
	padding-top: 350px;
}

.container{
    height: 500px;
}


// ペイパーエフェクト
.paper {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
	border-color: #dedede;
  }
  .paper-curl-right {  
	&:before,
	&:after {
	  bottom: 12px;
	  width: 50%;
	  height: 55%;
	  max-width: 200px;
	  max-height: 100px;
	   box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.6);
	}
	&:before {
	  left: 10px;
	}
	&:after {
	  right: 10px;
	}
	
	&:hover {
	  &:before,
	  &:after {
		box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
	  }
	  &:before {
		  transform: skew(-8deg) rotate(-3deg);
	  }
	  &:after {
		transform: skew(8deg) rotate(3deg);
	  }
	}
  } 
  .paper-curl {
	&:hover {
	  border-radius: 0 0 40% 40% / 0 0 30% 30%;
	}
  }
  .paper-curl-right {
	&:before {
	  display: none;
	}
	
	&:hover {
	  border-radius: 0 0 40% 0 / 0 0 30% 0;
	  }
  }
   
// ボタンCSSのベース
.button {
    display: inline-block;
    width: 200px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    line-height: 70px;
    position: relative;
    -webkit-perspective: 150px;
    perspective: 150px;
    // outline: none;
}
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

// くるっと回転
.button span {
	display: block;
    position: absolute;
    width: 200px;
    height: 50px;
    border: 2px solid rgb(6, 126, 26);
	border-radius: 5px;
    text-align: center;
    line-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-transition: border-box;
    box-sizing: border-box;
    -webkit-transition: all ,3s;
    transition: all .3s;
    pointer-events: none;
}
.button span:nth-child(1) {
    background-color: rgb(6, 126, 26);
    color: #fff;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotate(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button span:nth-child(2) {
    background-color: #fff;
    color: rgb(6, 126, 26);
    -webkit-transform: rotateX(0deg);
    -moz-transform:rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button:hover span:nth-child(2) {
    background-color: rgb(6, 126, 26);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}